html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/movie.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Ensures the elements cover the full viewport */
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any default padding */
    overflow: auto; /* Prevents scrolling if unnecessary */
}

table {
    background-color: transparent !important; /* Force transparency */
    border-collapse: collapse;
}

    table th, table td {
        background-color: transparent !important; /* Force transparency for cells */
    }

.navbar-brand, .nav-link {
    font-family: 'Arial', sans-serif; /* Set a consistent font family */
    font-size: 1.2rem; /* Set a consistent font size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Set a consistent text color */
    text-transform: uppercase; /* Optional: Make the text uppercase */
}

    .navbar-brand:hover, .nav-link:hover {
        color: #007bff; /* Optional: Change color on hover */
        text-decoration: none; /* Remove underline on hover */
    }



